:root {
  --holberton-red: #e1484c;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

.App {
  position: relative;
  min-height: 100vh;
}

div {
  padding: 2px 8px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-body {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 32px;
}
