:root {
  --holberton-red: #e1484c;
}

body {
  max-width: 90%;
  margin: 0 auto;
}

.App {
  position: relative;
  min-height: 100vh;
}

div {
  padding: 2px 8px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-bottom: 3px solid var(--holberton-red);
}

.App-header h1 {
  margin: auto auto auto 0;
  color: var(--holberton-red);
}


.App-body {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 32px;
}
.App-body input {
  margin-left: 20px;
  margin-right: 20px;
}

.App-footer {
  border-top: 3px solid var(--holberton-red);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 16px 0;
}
