.Notifications {
	border: 2px dotted var(--holberton-red);
	padding: 6px 12px;
	position: absolute;
	top: 25;
	right: 0;
	width: 35%;
	font-size: 16px;
	z-index: 10;
}

li[data-priority-type="default"] {
	color: blue;
}

li[data-priority-type="urgent"] {
	color: red;
}

.menuItem {
  text-align: right;
  margin:15px;
}
